<%- include header %>
<%posts.forEach(function(post,index){%>
<p><h2><a href="/u/<%=post.name%>/<%=post.title%>/<%=post.time.day%>"><%=post.title%></a></h2></p>
<p class="info">
	作者：<span><a href="/u/<%=post.name%>"><%=post.name%></a></span>|日期：<span><%=post.time.minute%></span>
</p>
<p><%=post.post%></p>	
<%})%>
<%- include paging%>
<%- include footer %>


